{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto mb-3" id="symbol" name="symbol" placeholder="Symbol" type="text" pattern="[A-Za-z]{4}" title="Only 4 letters are allowed" required>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto mb-3" id="shares" name="shares" placeholder="Number of sheres" type="number" pattern="[1-9]\d*" title="Only possitive integers allowed" min="1" step="1" required>
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}
