{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    <h4 class="text-start container ps-0 mt-4 mb-4">History of transactions</h3>
        <table class="table table-striped table-hover container">
            <thead>
                <tr class="text-end">
                    <th class="text-start">Symbol</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Action</th>
                    <th>Date and time</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    <tr class="text-end">
                        <td class="text-start"> {{ transaction["symbol"].upper() }} </td>
                        <td> {{ transaction["shares"] | abs }} </td>
                        <td> {{ transaction["price"] | usd }} </td>
                        <td> {{ "sold" if transaction["shares"] < 0 else "bought"  }} </td>
                        <td> {{ transaction["timestamp"] }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock %}
