{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}

    <h4 class="text-start container ps-0 mt-4 mb-4">Shares overview</h3>
    <table class="table table-striped table-hover container">
        <thead>
            <tr class="text-end">
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for symbol, shares in total_shares.items() %}
                <tr class="text-end">
                    <td class="text-start"> {{ symbol.upper() }} </td>
                    <td class="text-start"> {{ names[loop.index0] }} </td>
                    <td> {{ shares }} </td>
                    <td> {{ data[symbol] | usd }} </td>
                    <td> {{ (data[symbol] * shares) | usd }} </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 text-end fw-bold" colspan="4"> CASH </td>
                <td class="border-0 text-end"> {{ actual_balance | usd }} </td>
            </tr>
            <tr>
                <td class="border-0 text-end fw-bold" colspan="4"> TOTAL </td>
                <td class="border-0 text-end"> {{ total | usd }} </td>
            </tr>
        </tfoot>
    </table>

{% endblock %}
