{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block clean_page %}
<body class="vh-100 position-relative">
  <div id="errorBgPic" class="d-flex position-absolute w-100 h-100">
      <div class="light"></div>
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center position-absolute w-100 h-100">
    <p class="glowing m-0" >
      <span>{{ error_message }}</span>
    </p>
    <p class="text-white" >{{ additional_message}}</p>
    <a href="/" class="btn btn-outline-light">Back to Flow State</a>
  </div>
    <div id="errorCode" class="error-code p-3">{{ error_code }}</div>
    <p id="photoInfo" class="photo-info-error m-0 p-3"></p>

    <div id="spinner" class="loading-info m-0 p-2 d-flex d-none">
      <div class="spinner-border spinner-border-sm text-primary" role="status"></div>
      <span class="ps-2 text-primary" >Just a sec for the picture, please...</span>
    </div>
  </body>

{% endblock %}
