/* Day/night toggle button */

.myswitch {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clsinput {
    position: absolute;
    opacity: 0;
}

.sun {
    position: absolute;
    /* color: #666; */
    /* color: yellow; */
    transform: scale(0);
    transition: 1s ease;
}

input:checked~.sun {
    transition-delay: .8s;
    transform: scale(1) rotate(360deg);
}

.moon {
    position: absolute;
    color: #666;
    transition: 1s ease;
    transition-delay: .8s;
}

input:checked~.moon {
    transition-delay: 0s;
    transform: rotate(360deg) scale(0);
}

.toggle {
    position: absolute;
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    z-index: -1;
    transition: 1s;
}

/* END of the CSS for day/night toggle button */


/* Page layout */

@media (min-width: 992px) {
    .layout {
        display:grid;
        grid-template-areas: "sidebar main";
        grid-template-columns: 1fr 5fr;
        gap: 1.5rem;
    }
}

.sidebar {
    grid-area: sidebar
}

.main {
    grid-area: main
}

@media (min-width: 992px) {
    .sidebar {
        position: sticky;
        top: 5rem;
        display: block !important;
        height: calc(100vh - 6rem);
        padding-left: .25rem;
        margin-left: -0.25rem;
        overflow-y: auto;
        min-width: 19.4rem;
    }
}

@media (min-width: 992px) {
    .main {
        position: sticky;
        top: 5rem;
        display: block !important;
        height: calc(100vh - 3.54rem);
        padding-left: .25rem;
        margin-left: -0.25rem;
        overflow-y: auto;
    }
}

.content {
    grid-area: content;
    min-width: 1px;
    max-width: 80rem;
}

/* Customized toggler icon - only border removed*/
.navbar-toggler {
    border: none;
}

#chartIcon {
    font-size: 1.6rem;
}


/* Clickable text */

#toggleText:hover {
    cursor: pointer; /* Change cursor to a pointer (hand) */
}
