/* Day/night toggle button */
.myswitch {
    position: relative; /* Add this line */
    border-radius: 50%;
    cursor: pointer;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    /* transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; */
}

.clsinput {
    position: absolute;
    opacity: 0;
}

.sun {
    position: absolute;
    transform: scale(0);
    transition: 1s ease;
}

.moon {
    position: absolute;
    transition: 1s ease;
    transition-delay: .8s;
}

#myCheckbox:checked~.sun {
    transition-delay: .8s;
    transform: scale(1) rotate(360deg);
}
#myCheckbox:checked~.moon {
    transition-delay: 0s;
    transform: rotate(360deg) scale(0);
}
/* END of the CSS for day/night toggle button */


/* Centering the login button */
.myalign-span      {
    position: relative;
    top: -0.0625em; /* Adjust this value as needed */
}

.myalign-svg {
    position: relative;
    top: -0.15625em; /* Adjust this value as needed */
}

.myalign-svg2 {
    position: relative;
    top: -0.095em; /* Adjust this value as needed */
}

.display-7 {
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.5);
}

.nav-logo-position-fix {
    position: relative;
    top: 0.19em; /* Adjust this value as needed */
}

form.flex-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.my-horizontal-line {
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
}


/* Page layout */
@media (min-width: 992px) {
    .layout {
        display:grid;
        grid-template-areas: "sidebar main";
        grid-template-columns: 1fr 5fr;
        gap: 1.5rem;
    }

    /* Formating the button itsself in the navbar to be as other buttons */
    .centered-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .centered-nav-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon-padding {
        padding: 8px;
    }

    .sidebar {
        position: sticky;
        top: 5rem;
        display: block !important;
        height: calc(100vh - 6rem);
        padding-left: .25rem;
        margin-left: -0.25rem;
        overflow-y: auto;
        min-width: 19.4rem;
    }

    .main {
        position: sticky;
        top: 5rem;
        display: block !important;
        height: calc(100vh - 3.54rem);
        padding-left: .25rem;
        margin-left: -0.25rem;
        overflow-y: auto;
    }
}

.sidebar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
    min-height: calc(100vh - 3.68rem);
}

/* .content {
    grid-area: content;
    min-width: 1px;
    max-width: 80rem;
} */


/* Customized toggler icon - only border removed*/
.navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.25);
}

/* Clickable text */
#toggleText:hover {
    cursor: pointer; /* Change cursor to a pointer (hand) */
}

/* Clickable text */
.centeringTheRow {
    display: inline;
    height: auto;
    width: auto;
}

/* systemair logo to fit in navbar */
.svg-container {
    max-width: 17px;
    height: auto;
}


/* Making the divider transparent  */
.vrfix {
    background-color: white;
}

/* Adds opacity to the login button */
.border-opacity {
    border-color: rgba(255, 255, 255, 0.25); /* This applies a white color with 25% opacity */
  }


/* My new logo CSS */
/* Root level CSS variables for column width and container padding */
:root {
    --icon-size: 1.7rem;
    --column-width: calc(var(--icon-size) / 4); /* 26px / 11 ≈ 2.4px */;
    --column-max-height: calc(var(--icon-size) * 0.85); /* 26px * 0.85 ≈ 22px */
    --column-hover-increase: 20%; /* The percentage increase in column size on hover */
    --container-padding: 0rem;
    --column-border: .09rem;
}


/* Styles for the outer container */
.outerContainer {
    display: inline-flex;
    justify-content: center; /* Center the content */
    align-items: flex-end; /* Align the content to the bottom */
    box-sizing: border-box; /* Include padding in width */
    padding: 0 calc(var(--column-width) / 2 - var(--container-padding)); /* Add padding to container */
}


.pic-formating {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto; 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative; /* Add this */
}

@media (max-width: 768px) {
    .pic-formating {
        height: 210px;
    }
}

.photo-info {
    position: absolute;
    bottom: 0;
    right: 0;
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.7rem;
}

.loading-info {
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.7rem;
}

/* Things for ERROR route!!!! */
.error-code {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    font-size: 0.8em;
}

.photo-info-error {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    font-size: 0.8em;
}

.light {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(circle at var(--x) var(--y), transparent 10%, rgba(0,0,0,0.95) 18%);

}

:root {
    --x: 0px;
    --y: 0px;
  }

#errorBgPic {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.my-small-text {
    font-size: 0.81rem;
}


.hover-brighter:hover {
    color: #fff;
    transition: 0.3s;
}

/* Styles for each container */
.container {
    flex: 1; /* Make each container take up equal space */
    margin: 0; /* Remove margin from the sides */
    padding: 0 var(--container-padding); /* Add padding to the sides */
    position: relative; /* Add this */
    display: flex; 
    align-items: flex-end; 
}

/* Styles for each column */
.column {
    width: var(--column-width);
    border-top: var(--column-border) solid;
    border-right: var(--column-border) solid;
    border-left: var(--column-border) solid;
    background-color: transparent; /* Set initial background color to transparent */
    transition: background-color 0.3s; /* Add transition */
}

.height1 {
    height: var(--column-max-height);
}
.height2 {
    height: calc(var(--column-max-height) * 0.65); /* 65% of the maximum height */
}
.height3 {
    height: calc(var(--column-max-height) * 0.4); /* 40% of the maximum height */
}
.height4 {
    height: calc(var(--column-max-height) * 0.9); /* 90% of the maximum height */
}

.blueBorder {
    /* border-color: #3180ff; */
    border-color: rgba(49, 128, 255, 0.5);
}

.whiteBorder {
    border-color: rgba(255, 255, 255, 0.5);
}

.whiteBorder:hover {
    background-color: white; /* Change background color on hover */
}
.blueBorder:hover {
    background-color: #3180ff; /* Change background color to blue on hover */
}

.border-bottom-white {
    border: none; /* Remove all borders */
    border-bottom: 0.01rem solid rgba(255, 255, 255, 0.25); /* Add bottom border */
}


/* Error page and neon light animation for text  */
.glowing {
    position: relative;
    font-size: 3em;
    color: #0e3742;
    width: 100%;
    text-align: center;
}

.glowing span {
    animation: animate 1s linear forwards;
}

@keyframes animate {
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92% {
        color: #0e3742;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100% {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4,
        0 0 400px #03bcf4;
    }
}

@keyframes fastFlash {
    0%,10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
        color: #0e3742;
        text-shadow: none;
    }
    5%,15%,25%,35%,45%,55%,65%,75%,85%,95% {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4,
        0 0 400px #03bcf4;
    }
}

@keyframes slowFlash {
    0%,50%,100% {
        color: #0e3742;
        text-shadow: none;
    }
    25%,75% {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4,
        0 0 400px #03bcf4;
    }
}

.password-icon {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 5;
}



/* Paralax efect */

.my-header {
    background-color: #f8f9fa; /* Light grey background */
    padding: 20px; /* Add some padding */
    text-align: center; /* Center the text */
    border-bottom: 1px solid #e7e7e7; /* Add a border at the bottom */
    font-size: 1.5em; /* Increase the font size */
    color: #333; /* Dark grey text */
}
  
.my-parallax {
    /* The image used */
    background-image: url("parallax.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.my-parallax2 {
    /* The image used */
    background-image: url("parallax2.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
.my-parallax3 {
    /* The image used */
    background-image: url("parallax3.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.my-parallax-content {
    text-align: center;
    padding-top: 20%;
    color: white;
}
  
.my-content {
    padding: 20px;
}
  
.my-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.big-bottom {
    padding-bottom: 20rem;

}



/* CSS for the Privace Policy page */

#game {
    background-color: #aaa9a9; /* This is a shade of grey */
  }


/* Flash-messaging formatting!!! */
.flash-message-format {
    position: fixed;
    top: 46px;
    right: 20px;
    z-index: 9999;
    animation: slideIn 1s forwards, slideOut 3s 7s forwards;
  }
  
@keyframes slideIn {
0% {
    transform: translateX(150%);
}
100% {
    transform: translateX(0);
}
}

@keyframes slideOut {
0% {
    transform: translateX(0);
}
100% {
    transform: translateX(210%);
}
}

/* For color-picker page */
.stretch {
    width: 100%;
    height: 100%;
}


/* For overflowing dropdown menu with icon and initials */
#my-dropdown-menu {
    --bs-dropdown-min-width: 21rem;
}


/* TABULATOR */
.tabulator {
    /* display: block !important;
    width: auto !important; */
    position: absolute !important;
    min-width: 200px;
    min-height: 100px;
    resize: both;
    overflow: auto;
    border-bottom: 2px solid rgb(152, 191, 255);
    border-top: 2px solid rgb(152, 191, 255);
    /* background-color:#7e1111;
    border: 1px solid #333; */
  }


/*Theme the header*/
.tabulator .tabulator-header {
    background-color:#ffffff;
    border-bottom: 2px solid rgb(152, 191, 255);
    color:#000000;
}


.tabulator-row.tabulator-range-highlight .tabulator-cell.tabulator-range-row-header {
    background-color: rgb(224, 236, 255);
    /* border-left: 2px solid rgb(41, 117, 221); */
    color: #000;
}
.tabulator .tabulator-header .tabulator-col.tabulator-range-highlight {
    background-color: rgb(224, 236, 255);
    /* border-top: 2px solid rgb(41, 117, 221); */
    color: #000;
}

.tabulator .tabulator-header .tabulator-col:last-of-type {
    border-right: none;
}

.tabulator .tabulator-tableholder .tabulator-range-overlay .tabulator-range.tabulator-range-active::after {
    right: 0;
    bottom: 0;
    width: 5px;
    height: 5px;
    background-color: #2975DD;
    border-radius: 0px; 
    border-top-left-radius: 6px;
}

.tabulator .tabulator-tableholder .tabulator-range-overlay .tabulator-range-cell-active {
    /* border: 0px;  */
    /* box-shadow: inset 0 0 0 1px #2975DD; */
    border: 1px solid #2975DD; 
}




/* #table-header {
    resize: both; /* allow the user to resize the element's width and height */
    /* overflow: auto; required for resize to work */
/* } */
 /* */


/* Buttons and their interactivity in the table */
 .interactive-svg {
    transition: fill 0.3s ease; /* This will animate the color change */
  }
    .interactive-svg:hover {
    fill: #007bff; /* Change the color to blue when hovered */
    cursor: pointer; 
  }
  @keyframes flash {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
  }
    .interactive-svg.clicked {
    animation: flash 0.2s 1; /* Flash twice fast */
  }

  #example-table {
    overflow-y: hidden;
    position: relative;
  }


  /* #example-table h4:hover {
    position: relative; 
  } */


  .unit{
    display: none;
  }

  .temp-sensor {
    /* width: 70px; */
    width: auto;
    height: 29px;
    box-sizing:border-box;
    /* padding: 4px; */
    padding: 4px 20px;
    position: relative;
  }
  
  
.drop-active {
    border-color: #195b9e;
    border-style: dashed;
    border-width: 1px;  
}

.drop-target {
    background-color: rgb(213, 229, 241);
}

.drop-active-delete {
    border-color: #bd5959;
    border-style: dashed;
    border-width: 1px;  
}

.drop-target-delete {
    background-color: rgb(241, 213, 213);
}

/* For interactive drag and drop functionality */
.tabulator .tabulator-header .tabulator-col .tabulator-col.tabulator-range-highlight-alt {
    background-color: #3876ca;
    color: #fff;
}


#drop-indicator {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #3876ca;
    position: fixed;
  }