{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block clean_page %}

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div id="alert" class="alert alert-{{ category }} alert-dismissible fade show alert-message-autohide flash-message-format" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}


  <div class="container-fluid p-0">
    <div class="row gx-0">
      {% for color in css_colors %}
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
          <div class="color-square d-flex align-items-center justify-content-center stretch" style="background-color: {{ color }}; height: 10rem;">
            <form action="/color-picker" method="post">
              <input type="hidden" name="color" value="{{ color }}">  
              <button type="submit" class="btn btn-link text-white text-decoration-none">{{ color }}</button>
            </form>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>




{% endblock %}
